<app-nav-bar></app-nav-bar> 
<!-- 

<form [formGroup]="registerForm"  (ngSubmit)="onSubmit()" >  (ngSubmit)="submitDetails()
  <p-card header="Register" [style]="{ width: '360px' }">
      <div class="field">
          <label for="fName">First Name</label>
          <input type="text" pInputText formControlName="fName" class="w-full" name="fName"
              placeholder="Type your First name" />
          @if(fName.invalid && (fName.dirty || fName.touched)){
          <small class="block p-error">
              @if(fName.errors?.['required']){
              <div>Name is required.</div>
              }
              @else if (fName.errors?.['pattern']) {
              <div>Enter a valid Name</div>
              }

          </small>
          }

      </div>
      <div class="field">
          <label for="lName">Last Name</label>
          <input type="text" pInputText formControlName="lName" class="w-full" name="lName"
              placeholder="Type your First name" />
          @if(lName.invalid && (lName.dirty || lName.touched)){
          <small class="block p-error">
              @if(lName.errors?.['required']){
              <div>lName is required.</div>
              }
              @else if (lName.errors?.['pattern']) {
              <div>Enter a valid Name</div>
              }

          </small>
          }

      </div>
      <div class="field">
          <label for="phoneNumber">phoneNumber</label>
          <input type="text" pInputText formControlName="phoneNumber" class="w-full" name="phoneNumber"
              placeholder="Type your phoneNumber" />
          @if(phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)){
          <small class="block p-error">
              @if(phoneNumber.errors?.['required']){
              <div>phoneNumber is required.</div>
              }
              @else if (phoneNumber.errors?.['pattern']) {
              <div>Enter an integer number</div>
              }

          </small>
          }

      </div>
      <div class="field">
          <label for="email">Email</label>
          <input type="text" pInputText formControlName="email" class="w-full" name="email"
              placeholder="Type your email" />
          @if( email.invalid && (email.dirty || email.touched)){
          <small class="block p-error">
              @if(email.errors?.['required']){
              <div>Email is required</div>
              }
              @else if (email.errors?.['email']) {
              <div>Email should be valid</div>
              }

          </small>
          }

      </div>
      <div class="field">
        <label for="password">Password</label>
        <input type="password" pInputText formControlName="password" class="w-full" name="password"
            placeholder="Type your password" />
        @if(password.invalid && (password.dirty || password.touched)){

        <small class="block p-error">
            @if(password.errors?.['required']){
            <div>Password is required.</div>
            }
        </small>
        }

    </div>
    <div class="field">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" pInputText formControlName="confirmPassword" class="w-full" name="confirmPassword"
            placeholder="Confirm Password" />
        @if( confirmPassword.invalid &&(confirmPassword.dirty || confirmPassword.touched)){
        <small class="block p-error">
            @if(confirmPassword.errors?.['required']){
            <div>
                Confirm the password
            </div>
            }

        </small>
        }
        @if(registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid){
        <small class="block p-error">
            Password should match
        </small>
        }

    </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block">Sign Up</button>
          </div>
        <div>
          @if (isSignUpFailed) {
          <div class="alert alert-warning">
            Signup failed!<br />{{ errorMessage }}
          </div>
          }
      </div>
      <p-button label="Register" styleClass="w-full" [disabled]="registerForm.invalid" type="submit"></p-button>
      <div class="mt-2">Not a member? <a href="/login" routerLink="login">Login</a></div>
  </p-card>
</form>  -->
<div class="titleForm">{{'userInfo.CreateNewCustomerAccount'| translate}}</div>
<div class="container" style="width: 775px; margin-bottom: 70px;" [style.direction]="lang=='ar' ? 'rtl' : 'ltr'">
    <form [formGroup]="registerForm" (ngSubmit)="handleRegister()" class="row g-3">
    <div class="col-md-6">
      <label for="inputfname" style="font-size: 12px;" class="form-label">{{'userInfo.FirstName'| translate}}<span class="badge badge-danger" style="color: red; font-size: 10px;">*</span></label>
      <input type="text" class="form-control" formControlName="fName" name="fName"
      placeholder="{{'userInfo.TypeYour'| translate}} {{'userInfo.FirstName'| translate}}">
   
        @if(fName?.invalid && (isSumitted || fName?.dirty || fName?.touched )){
            <span class="block p-error">
                @if(fName?.errors?.['required']){
                <div>{{'userInfo.FirstName'| translate}} {{'userInfo.required'| translate}}.</div>
                }
            </span>
            }
     
    </div>
    <div class="col-md-6">
      <label for="inputlName" style="font-size: 12px;" class="form-label">{{'userInfo.LastName'| translate}}<span class="badge badge-danger" style="color: red; font-size: 10px;">*</span></label>
      <input type="text" class="form-control" formControlName="lName" name="lName"
      placeholder="{{'userInfo.TypeYour'| translate}} {{'userInfo.LastName'| translate}}">
      @if(lName?.invalid && (isSumitted || lName?.dirty || lName?.touched )){
        <span class="block p-error">
            @if(lName?.errors?.['required']){
            <div>{{'userInfo.LastName'| translate}} {{'userInfo.required'| translate}}.</div>
            }

        </span>
        }
    </div>
     
    <div class="col-md-6">
        <label for="inputlphone" style="font-size: 12px;" class="form-label">{{'userInfo.PhoneNumber'| translate}}<span class="badge badge-danger" style="color: red; font-size: 10px;">*</span></label>
        <input type="text" class="form-control" formControlName="phoneNumber" name="phoneNumber"
        placeholder="{{'userInfo.TypeYour'| translate}} {{'userInfo.PhoneNumber'| translate}}">
        @if(phoneNumber?.invalid && (isSumitted || phoneNumber?.dirty || phoneNumber?.touched )){
            <span class="block p-error">
                @if(phoneNumber?.errors?.['required']){
                <div>{{'userInfo.PhoneNumber'| translate}} {{'userInfo.required'| translate}}.</div>
                }
  
            </span>
            }
      </div>

      <div class="col-md-6">
        <label for="inputemail" style="font-size: 12px;" class="form-label">{{'userInfo.email'| translate}} <span class="badge badge-danger" style="color: red; font-size: 10px;">*</span></label>
        <input type="email" class="form-control" formControlName="email" name="email"
        placeholder="{{'userInfo.TypeYour'| translate}} {{'userInfo.email'| translate}}" [style.direction]="lang=='ar' ? 'rtl' : 'ltr'">
        @if(email?.invalid && (isSumitted || email?.dirty || email?.touched )){
            <small class="block p-error">
                @if(email?.errors?.['required']){
                <div>{{'userInfo.email'| translate}} {{'userInfo.required'| translate}}</div>
                }
            </small>
            }
      </div>
      <div class="col-md-6">
        <label for="inputpsw" style="font-size: 12px;" class="form-label">{{'userInfo.password'| translate}}  <span class="badge badge-danger" style="color: red; font-size: 10px;">*</span></label>
        <input type="password" class="form-control"formControlName="password" name="password"
        placeholder="{{'userInfo.TypeYour'| translate}} {{'userInfo.password'| translate}}">
        @if(password?.invalid && (isSumitted || password?.dirty || password?.touched )){
      
            <small class="block p-error">
                @if(password?.errors?.['required']){
                <div>{{'userInfo.password'| translate}} {{'userInfo.required'| translate}}.</div>
                }
            </small>
            }
      </div>

      <div class="col-md-6">
        <label for="confirmPassword" style="font-size: 12px;" class="form-label">{{'userInfo.ConfirmPassword'| translate}}<span class="badge badge-danger" style="color: red; font-size: 10px;">*</span></label>
        <input type="password" class="form-control" formControlName="comfirmPassword" name="comfirmPassword"
        placeholder="{{'userInfo.TypeYour'| translate}} {{'userInfo.ConfirmPassword'| translate}}">
        @if(comfirmPassword?.invalid && (isSumitted || comfirmPassword?.dirty || comfirmPassword?.touched )){
      
            <small class="block p-error">
                @if(comfirmPassword?.errors?.['required']){
                <div>{{'userInfo.ConfirmPassword'| translate}} {{'userInfo.required'| translate}}.</div>
                }
            </small>
            }
      </div>
    <div class="col-12">
      <button type="submit" [disabled]="registerForm.invalid" class="mybtn">{{'userInfo.CreateAccount'| translate}}</button>
    </div>
  </form>
</div>
