<div class="container" data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0" data-parallax-speed="0.5"
    data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true"
    data-video-lazy-load="true" data-video-fallback-src="" data-element="main" data-pb-style="R3CDEL5">
    <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true">
        <table width="100%" align="center">
            <tbody>
                <tr>
                    <td align="center" valign="middle"><a href="#"><img class="imgclass"
                                src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/300x300-special-offer-arabic.gif"
                                width="100%"></a></td>
                    <td align="center" valign="middle"><a href="#"><img class="imgclass"
                                src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/300x300-mobile-arabic.png"
                                width="100%"></a></td>
                    <td align="center" valign="middle"><a href="#"><img class="imgclass"
                                src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/300x300-laptop-arabic.png"
                                width="100%"></a></td>
                    <td align="center" valign="middle"><a href="#"><img class="imgclass"
                                src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/300x300-home-applience-arabic.png"
                                width="100%"></a></td>
                    <td align="center" valign="middle"><a href="#"><img class="imgclass"
                                src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/300x300-playstation-arabic.png"
                                width="100%"></a></td>
                    <td align="center" valign="middle"><a href="#"><img class="imgclass"
                                src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/300x300-acc-arabic.png"
                                width="100%"></a></td>
                    <td align="center" valign="middle"><a href="#"><img class="imgclass"
                                src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/300x300-audio-arabic.png"
                                width="100%"></a></td>
                    <td align="center" valign="middle"><a href="#"><img class="imgclass"
                                src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/300x300-smart-watch-arabic.png"
                                width="100%"></a></td>
                    <td align="center" valign="middle"><a href="#"><img class="imgclass"
                                src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/300x300-electronic-arabic.png"
                                width="100%"></a></td>
                    <td align="center" valign="middle"><a href="#"><img class="imgclass"
                                src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/300x300-printer-arabic.png"
                                width="100%"></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div data-content-type="divider" data-appearance="default" data-element="main">
        <hr data-element="line" data-pb-style="MT3S1D6">
    </div>
</div>