<app-nav-bar></app-nav-bar> 
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Payment Form</h1>
            <form>
                <div class="mb-3">
                    <label for="cardNumber" class="form-label">Use your Peromo Code and Get your offers </label>
                    <input type="text" #PeromoInput (input)="Peromo(PeromoInput.value)" class="form-control" id="cardNumber" placeholder="Enter Peromo Code">
                </div>
                <div class="mb-3">
                    <label for="cardName" class="form-label">Address</label>
                    <input type="text" class="form-control"#AddresInput (input)="Addres(AddresInput.value)" id="cardName" placeholder="Enter The Addres to Delivary">
                </div>
                <div class="d-grid">
                    <div #Payment ></div>
                    <button type="submit" class="btn btn-primary">Pay Now</button>
                </div>
                
                <div class="paypal-container" style="align-items: center;">
                  <div class="amount">Total amount to pay: ${{amount}}</div>
                  <div class="info">Please do not refresh the browser while the transaction is processing</div>
                  <div #paymentRef></div>
                </div>
            </form>
            <div class="back" (click)="cancel()"> Back </div>
            <div class="back" (click)="Vieworders()"> view orders </div>
        </div>
    </div>


</div> 