<div class="container-fluid w-50">
    <div class="toolbar toolbar-products d-flex justify-content-between">
    <a href="#" class="porto-product-filters-toggle sidebar-toggle d-inline-flex d-lg-none"><svg data-name="Layer 3"
            id="Layer_3" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <line class="cls-1" x1="15" x2="26" y1="9" y2="9"></line>
            <line class="cls-1" x1="6" x2="9" y1="9" y2="9"></line>
            <line class="cls-1" x1="23" x2="26" y1="16" y2="16"></line>
            <line class="cls-1" x1="6" x2="17" y1="16" y2="16"></line>
            <line class="cls-1" x1="17" x2="26" y1="23" y2="23"></line>
            <line class="cls-1" x1="6" x2="11" y1="23" y2="23"></line>
            <path class="cls-2" d="M14.5,8.92A2.6,2.6,0,0,1,12,11.5,2.6,2.6,0,0,1,9.5,8.92a2.5,2.5,0,0,1,5,0Z"></path>
            <path class="cls-2" d="M22.5,15.92a2.5,2.5,0,1,1-5,0,2.5,2.5,0,0,1,5,0Z"></path>
            <path class="cls-3" d="M21,16a1,1,0,1,1-2,0,1,1,0,0,1,2,0Z"></path>
            <path class="cls-2" d="M16.5,22.92A2.6,2.6,0,0,1,14,25.5a2.6,2.6,0,0,1-2.5-2.58,2.5,2.5,0,0,1,5,0Z"></path>
        </svg> <span>Filter</span></a>
    <div class="toolbar-sorter sorter">
        <label class="sorter-label" for="sorter">Sort By</label>
        <select id="sorter" data-role="sorter" class="sorter-options">
            
            <option value="position" selected="selected">
                Position </option>
            <option value="name">
                Product Name </option>
            <option value="price">
                Price </option>
            <option value="battery_capacity">
                Battery capacity </option>
        </select>
    </div>
    <div class="field limiter ">
        <label class="label" for="limiter">
            <span>Show :</span>
        </label>
        <div class="control">
            <select id="limiter" data-role="limiter" class="limiter-options">
                <option value="40" selected="selected">
                    40 </option>
                <option value="60">
                    60 </option>
                <option value="80">
                    80 </option>
                <option value="100">
                    100 </option>
            </select>
        </div>
       
    </div>
    
</div></div>


<router-outlet></router-outlet>