<div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true">
    <table width="100%" align="center">
        <tbody>
            <tr>
                <td align="center" valign="middle"><a
                        href="#"><img class="imgclass"
                            src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Apple_4.jpg"
                            width="100%"></a></td>
                <td align="center" valign="middle"><a
                        href="#"><img
                            class="imgclass"
                            src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Lenovo_4.jpg"
                            width="100%"></a></td>
                <td align="center" valign="middle"><a
                        href="#"><img
                            class="imgclass"
                            src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Asus_2.jpg"
                            width="100%"></a></td>
                <td align="center" valign="middle"><a
                        href="#"><img
                            class="imgclass"
                            src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Huwewi.jpg"
                            width="100%"></a></td>
                <td align="center" valign="middle"><a
                        href="#"><img
                            class="imgclass"
                            src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Dell_2.jpg"
                            width="100%"></a></td>
                <td align="center" valign="middle"><a
                        href="#"><img
                            class="imgclass"
                            src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/HP.jpg"
                            width="100%"></a></td>
                <td align="center" valign="middle"><a
                        href="#"><img
                            class="imgclass"
                            src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Infinix_3.jpg"
                            width="100%"></a></td>
                <td align="center" valign="middle"><a
                        href="#"><img
                            class="imgclass"
                            src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Acer_2.jpg"
                            width="100%"></a></td>
                <td align="center" valign="middle"><a
                        href="#"><img class="imgclass"
                            src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Msi.jpg"
                            width="100%"></a></td>
            </tr>
        </tbody>
    </table>
</div>
