<div class="container-fluid mt-5 mb-3">
    <div class="row">

        <div class="row">
            <a href="#" class="m-0 p-0">
                <img src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/2048x220-laptop.jpg" alt=""
                    class="img-fluid">
            </a>
        </div>

        <div class="row mt-1">
            <div class="col-3 m-0 p-0">
                <a href="#">
                    <img src="https://r2media.horizondm.com/Backend-developer/bags.jpg" alt="" class="img-fluid">
                </a>
            </div>

            <div class="col-6 m-0 p-0">
                <a href="#">
                    <img src="https://r2media.horizondm.com/Backend-developer/Printer-ar.jpg" alt="" class="img-fluid">
                </a>
            </div>

            <div class="col-3 m-0 p-0">
                <a href="#">
                    <img src="https://r2media.horizondm.com/Backend-developer/storage.jpg" alt="" class="img-fluid">
                </a>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-4.5 m-0 p-0">
                <a href="#">
                    <img src="https://r2media.horizondm.com/Backend-developer/Monitor-ar.jpg" alt="" class="img-fluid">
                </a>
            </div>

            <div class="col-3 m-0 p-0">
                <a href="#">
                    <img src="https://r2media.horizondm.com/Backend-developer/350x240-computer-acc.jpg" alt=""
                        class="img-fluid">
                </a>
            </div>

            <div class="col-4.5 m-0 p-0">
                <a href="#">
                    <img src="https://r2media.horizondm.com/Backend-developer/Ar-Network.jpg" alt="" class="img-fluid">
                </a>
            </div>
        </div>

    </div>
</div>