################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wait-4/FileContentIndex
*.sqlite
*.json
/.vs/wait-4/v17
