@model EcommerceWebSite.Dashboard.ViewModel.addOrUpdateCategoryViewModel;
@{
    ViewData["Title"] = "Add Category Page";
}

<form asp-action="addCategory" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="error" style="color:red"></div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary w-25">Submit</button>
    </div>
    <div class="form-group">
        <label>English Category Name</label>
        <input type="text" class="form-control" asp-for="enName" placeholder="Enter category English Name">
        <span asp-validation-for="enName" style="color:red" class="form-text text-muted"></span>
    </div>

    <div class="form-group">
        <label asp-for="imgURL" class="control-label">English Category Image</label>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <input type="file" name="imgURL" asp-for="imgURL" class="form-control-file" onchange="previewImage(this, 'previewImg')" accept="image/*" />
            <img alt="" src="" style="display:inline;max-width: 200px; max-height: 200px;" id="previewImg" />
        </div>
        <span asp-validation-for="imgURL" style="color:red" class="form-text text-muted"></span>
    </div>

    <div class="form-group">
        <label>Arabic Category Name</label>
        <input type="text" class="form-control" asp-for="arName" placeholder="Enter category Arabic Name">
        <span asp-validation-for="arName" style="color:red" class="form-text text-muted"></span>
    </div>

    <div class="form-group">
        <label asp-for="imgURLAr" class="control-label">Arabic Category Image</label>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <input type="file" name="imgURLAr" asp-for="imgURLAr" class="form-control-file" onchange="previewImage(this, 'previewImgAr')" accept="image/*" />
            <img alt="" src="" style="display:inline;max-width: 200px; max-height: 200px;" id="previewImgAr" />
        </div>
        <span asp-validation-for="imgURLAr" style="color:red" class="form-text text-muted"></span>
    </div>
</form>


<script>
    function previewImage(input, imgId) {
        var imgElement = document.getElementById(imgId);
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                imgElement.src = e.target.result;
                reader.abort();
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            imgElement.src = "";
        }
    }
</script>