* {
  margin: 0;
  padding: 0;
}
.clearboth{
  clear: both;
}
.line{
  width: 18%;
  border-width: 4px;
  border-color: #39f;
  display: inline-block;
}

.slider-area {
  height: 300px;
}

.slider-area h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin: 100px 0 4px 0;
  color: #fff;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 203px;
  width: auto;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.item {
  width: 117px;
  height: 127px;;
  animation: animate 10s alternate linear infinite;
}

.item img {
  height: 115x;
  width: 90px;
  margin-left: 2vw;
  margin-right: 2vw;
}

.container:hover .item {
  animation-play-state: paused;
}

@keyframes animate {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(50vw, 0, 0);
  }
}