<div class="slider-area">
    <h2 style="text-align: center"><span style="color: #000000;"><strong>Shop By Brand</strong></span></h2>
    <div style="text-align: center; margin-bottom: 6px;">
        <hr class="line">
    </div>
    <div class="wrapper">
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Xiaomi_3.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Infinix_3.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Nokia-logoo.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Honor_3.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Huwewi.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Realme_3.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Apple_4.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Samsung_3.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Oppo_3.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Xiaomi_3.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Infinix_3.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Nokia-logoo.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Canon_1.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Jbl_1.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Logitech_1.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Marley_1.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Oraimo_1.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/TP-Link.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Lenovo_4.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Dell_2.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Acer_2.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Asus_2.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/amazfit.jpg"></div>
        <div class="item"><img alt=""
                src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Logo/Anker_2.jpg"></div>

    </div>
</div>
<div class="clearboth"></div>