<app-nav-bar></app-nav-bar> 
<div class="container-fluid">
    <img src="https://r2media.horizondm.com/Backend-developer/Branches.jpg" alt="" class="w-100">

    <p style="text-align: center;padding-top: 10px;"><span style="color: #000000;"><strong><span
                    style="font-size: 20px;"><span style="color: #8fc23e;">مواعيد الفروع</span> من الساعة 11 ص حتى
                    الساعة 3.30 م وبعد الإفطار من الساعة 7.30م حتى الساعة 2 منتصف الليل</span></strong></span></p>
    <p style="text-align: center;"><span style="color: #000000;"><strong><span style="font-size: 20px;">لمزيد من
                    المعلومات يمكنك التواصل على الرقم <span
                        style="color: #ef0000;">0201111509351</span></span></strong></span>
    </p>
    <div class="container">
        <div class="row">
            <img src="https://r2media.horizondm.com/Backend-developer/Ubber.jpg" width="100%" style="
                                    width: 220px;" (click)="scrollTo('sa3id')" title="Sa3id">
            <img src="https://r2media.horizondm.com/Backend-developer/Delta.jpg" width="100%" style="
                                    width: 220px;" (click)="scrollTo('delta')" title="Delta">
            <img src="https://r2media.horizondm.com/Backend-developer/alex.jpg" width="100%" style="
                                    width: 220px;" (click)="scrollTo('alex')" title="Alex">
            <img src="https://r2media.horizondm.com/Backend-developer/Giza.jpg" width="100%" style="
                                width: 220px;" (click)="scrollTo('giza')" title="Giza">
            <img src="https://r2media.horizondm.com/Backend-developer/cairo.jpg" width="100%" style="
                                width: 220px;" (click)="scrollTo('cairo')" title="Cairo">
        </div>
    </div>


    <!-- CAIRO -->
    <div class="row">
        <div class="col-3">
            <iframe width="100%" height="70%"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21825.305342495285!2d32.678007749101894!3d25.683457428130023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x144915cf52cd95cd%3A0xe0f5dd2b8b1c0e96!2sLuxor%2C%20Luxor%20City%2C%20Luxor%2C%20Luxor%20Governorate%2C%20Egypt!5e0!3m2!1sen!2sus!4v1712639459196!5m2!1sen!2sus"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br />
        </div>
        <div class="col-9">
            <p
                style="margin-top:70px;text-align:center;background-color: #1e90ff;border-radius: 20px;padding-bottom: 2px;box-shadow: 1px 4px 4px 1px;">
                <span style="font-size:20px"><strong><span style="color:#ffffff">
                    عناوين فروع</span> <span
                            style="color:#ffffff"> القاهرة</span></strong></span>
            </p>

            <nav id="cairo">
                <div class="nav nav-tabs">
                    @for(tab of cairo; track $index){
                    <button type="button" class="nav-link {{$index === 0 ? 'active' : ' '}}" data-bs-toggle="tab"
                        [attr.data-bs-target]="'#'+tab.title"
                        (click)="activateTab('cairo',$index)">{{tab.title}}</button>
                    }
                </div>
            </nav>

            <div class="tab-content">
                @for(tab of cairo; track $index){
                <div class="tab-pane fade {{$index === indices['cairo'] ? 'show active' : ' '}}" [attr.id]="tab.title"
                    [innerHTML]="sanitize(tab.content)"></div>
                }
            </div>

            <!-- GIZA -->
            <p
                style="margin-top:50px;text-align:center;background-color: #1e90ff;border-radius: 20px;padding-bottom: 2px;box-shadow: 1px 4px 4px 1px;">
                <span style="font-size:20px"><strong><span style="color:#ffffff">
                    عناوين فروع</span> <span
                            style="color:#ffffff"> الجيزة</span></strong></span>
            </p>

            <nav id="giza">
                <div class="nav nav-tabs">
                    @for(tab of giza; track $index){
                    <button type="button" class="nav-link {{$index === 0 ? 'active' : ' '}}" data-bs-toggle="tab"
                        [attr.data-bs-target]="'#'+tab.title"
                        (click)="activateTab('giza',$index)">{{tab.title}}</button>
                    }
                </div>
            </nav>

            <div class="tab-content">
                @for(tab of giza; track $index){
                <div class="tab-pane fade {{$index === indices['giza'] ? 'show active' : ' '}}" [attr.id]="tab.title"
                    [innerHTML]="sanitize(tab.content)"></div>
                }
            </div>

            <!-- ALEX -->
            <p
                style="margin-top:50px;text-align:center;background-color: #1e90ff;border-radius: 20px;padding-bottom: 2px;box-shadow: 1px 4px 4px 1px;">
                <span style="font-size:20px"><strong><span style="color:#ffffff">
                    عناوين فروع</span> <span
                            style="color:#ffffff"> الاسكندرية</span></strong></span>
            </p>

            <nav id="alex">
                <div class="nav nav-tabs">
                    @for(tab of alex; track $index){
                    <button type="button" class="nav-link {{$index === 0 ? 'active' : ' '}}" data-bs-toggle="tab"
                        [attr.data-bs-target]="'#'+tab.title"
                        (click)="activateTab('alex',$index)">{{tab.title}}</button>
                    }
                </div>
            </nav>

            <div class="tab-content">
                @for(tab of alex; track $index){
                <div class="tab-pane fade {{$index === indices['alex'] ? 'show active' : ' '}}" [attr.id]="tab.title"
                    [innerHTML]="sanitize(tab.content)"></div>
                }
            </div>


            <!-- DELTA -->
            <p
                style="margin-top:50px;text-align:center;background-color: #1e90ff;border-radius: 20px;padding-bottom: 2px;box-shadow: 1px 4px 4px 1px;">
                <span style="font-size:20px"><strong><span style="color:#ffffff">عناوين فروع </span> <span
                            style="color:#ffffff">الدلتا</span></strong></span>
            </p>


            <nav id="delta">
                <div class="nav nav-tabs">
                    @for(tab of delta; track $index){
                    <button type="button" class="nav-link {{$index === 0 ? 'active' : ' '}}" data-bs-toggle="tab"
                        [attr.data-bs-target]="'#'+tab.title"
                        (click)="activateTab('delta',$index)">{{tab.title}}</button>
                    }
                </div>
            </nav>

            <div class="tab-content">
                @for(tab of delta; track $index){
                <div class="tab-pane fade {{$index === indices['delta'] ? 'show active' : ' '}}" [attr.id]="tab.title"
                    [innerHTML]="sanitize(tab.content)"></div>
                }
            </div>

            <!-- SA3ID -->
            <p
                style="margin-top:50px;text-align:center;background-color: #1e90ff;border-radius: 20px;padding-bottom: 2px;box-shadow: 1px 4px 4px 1px;">
                <span style="font-size:20px"><strong><span style="color:#ffffff">عناوين فروع </span><span
                            style="color:#ffffff">صعيد مصر</span></strong></span>
            </p>


            <nav id="sa3id">
                <div class="nav nav-tabs">
                    @for(tab of sa3id; track $index){
                    <button type="button" class="nav-link {{$index === 0 ? 'active' : ' '}}" data-bs-toggle="tab"
                        [attr.data-bs-target]="'#'+tab.title"
                        (click)="activateTab('sa3id',$index)">{{tab.title}}</button>
                    }
                </div>
            </nav>

            <div class="tab-content">
                @for(tab of sa3id; track $index){
                <div class="tab-pane fade {{$index === indices['sa3id'] ? 'show active' : ' '}}" [attr.id]="tab.title"
                    [innerHTML]="sanitize(tab.content)"></div>
                }
            </div>
        </div>
    </div>
</div>