<div class="container-fluid p-0 mt-5">
    <div class="row">

        <div class="col m-0 p-0 mx-1">
            <div class="row">
                <a href="#">
                    <img src="https://r2media.horizondm.com/Backend-developer/680x500-gamepad-arabic.jpg" alt=""
                        class="img-fluid">
                </a>
            </div>

            <div class="row mt-1">
                <a href="#">
                    <img src="https://r2media.horizondm.com/Backend-developer/680x500-gaming-acc-arabic.jpg" alt=""
                        class="img-fluid">
                </a>
            </div>
        </div>


        <div class="col m-0 p-0">
            <a href="#">
                <img src="https://r2media.horizondm.com/Backend-developer/680x1000-playstation-arabic.jpg" alt=""
                    class="img-fluid">
            </a>
        </div>


        <div class="col m-0 p-0 ms-1">
            <div class="row">
                <a href="#">
                    <img src="https://r2media.horizondm.com/Backend-developer/680x500-cd-gaming.jpg" alt=""
                        class="img-fluid">
                </a>
            </div>

            <div class="row mt-1">
                <a href="#">
                    <img src="https://r2media.horizondm.com/Backend-developer/680x500-scooter-arabic.jpg" alt=""
                        class="img-fluid">
                </a>
            </div>
        </div>


    </div>
</div>