<div class="container m-auto p-0 mt-5">
    <p class="text-end" style="color:#000000;font-size:30px;"><strong>أجهزة منزلية</strong></p>
    <div class="row text-center m-0 p-0 d-flex justify-content-between">
        <!-- FIRST section -->
        <div class="col-3 p-0 m-0 item">
            <div class="p-3 pb-0 text-end m-0">
                <p style="color:#df0000;font-size: 18px;"><strong>أجهزة صغيرة</strong></p>
            </div>
            <div class="d-flex justify-content-center align-items-center m-0 p-0">
                <div class="col-5 m-2 mt-0 p-0">
                    <a href="#" target="_blank" class="p-0 m-0">
                        <img src="https://r2media.horizondm.com/Backend-developer/Appliances/iron-ar.jpg"
                            class="card-img p-0 m-0" alt="product image" style="border-start-start-radius: 20px;">
                    </a>
                </div>
                <div class="col-5 m-2 mt-0 p-0">
                    <a href="#" target="_blank" class="p-0 m-0">
                        <img src="https://r2media.horizondm.com/Backend-developer/Appliances/zbady-Maker.jpg"
                            class="card-img p-0 m-0" alt="product image" style="border-start-end-radius: 20px;">
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center m-0 p-0">
                <div class="col-5 m-2 mt-0 p-0">
                    <a href="#" target="_blank" class="p-0 m-0">
                        <img src="https://r2media.horizondm.com/Backend-developer/Appliances/water-dis-ar.jpg"
                            class="card-img p-0 m-0" alt="product image" style="border-start-start-radius: 20px;">
                    </a>
                </div>
                <div class="col-5 m-2 mt-0 p-0">
                    <a href="#" target="_blank" class="p-0 m-0">
                        <img src="https://r2media.horizondm.com/Backend-developer/Appliances/vfan-ar.jpg"
                            class="card-img p-0 m-0" alt="product image" style="border-start-end-radius: 20px;">
                    </a>
                </div>
            </div>
        </div>
        <!-- END First section -->
        <!-- Second section -->
        <div class="col-3 p-0 m-0 item">
            <div class="p-3 pb-0 text-end p-0 m-0">
                <p style="color:#df0000;font-size: 18px;"><strong>أجهزة المطبخ</strong></p>
            </div>
            <div class="d-flex justify-content-center align-items-center m-0 p-0">
                <div class=" col-5 m-2 mt-0 p-0">
                    <a href="#" target="_blank" class="p-0 m-0">
                        <img src="	https://r2media.horizondm.com/Backend-developer/Appliances/hand-blender-AR.jpg"
                            class="card-img p-0 m-0" alt="product image" style="border-start-start-radius: 20px;">
                    </a>
                </div>
                <div class="col-5 m-2 mt-0 p-0">
                    <a href="#" target="_blank" class="p-0 m-0">
                        <img src="https://r2media.horizondm.com/Backend-developer/Appliances/Blender-ar.jpg"
                            class="card-img p-0 m-0" alt="product image" style="border-start-end-radius: 20px;">
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center m-0 p-0">
                <div class=" col-5 m-2 mt-0 p-0">
                    <a href="#" target="_blank" class="p-0 m-0">
                        <img src="	https://r2media.horizondm.com/Backend-developer/Appliances/Kitchen-ar.jpg"
                            class="card-img p-0 m-0" alt="product image" style="border-start-start-radius: 20px;">
                    </a>
                </div>
                <div class="col-5 m-2 mt-0 p-0">
                    <a href="#" target="_blank" class="p-0 m-0">
                        <img src="https://r2media.horizondm.com/Backend-developer/Appliances/OVEN-AR.jpg"
                            class="card-img p-0 m-0" alt="product image" style="border-start-end-radius: 20px;">
                    </a>
                </div>
            </div>
        </div>
        <!-- END Second section -->
        <!-- Third section -->
        <div class="col-3 p-0 m-0 item">
            <div class="p-3 pb-0 text-end p-0 m-0">
                <p style="color:#df0000;font-size: 18px;"><strong>وقت الراحة</strong></p>
            </div>
            <div class="d-flex justify-content-center align-items-center m-0 p-0">
                <div class=" col-5 m-2 mt-0 p-0">
                    <a href="#" target="_blank" class="p-0 m-0">
                        <img src="	https://r2media.horizondm.com/Backend-developer/Appliances/Air-Fryer-Ar.jpg"
                            class="card-img p-0 m-0" alt="product image" style="border-start-start-radius: 20px;">
                    </a>
                </div>
                <div class="col-5 m-2 mt-0 p-0">
                    <a href="#" target="_blank" class="p-0 m-0">
                        <img src="	https://r2media.horizondm.com/Backend-developer/Appliances/Coffe-Ar.jpg"
                            class="card-img p-0 m-0" alt="product image" style="border-start-end-radius: 20px;">
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center m-0 p-0">
                <div class=" col-5 m-2 mt-0 p-0">
                    <a href="#" target="_blank" class="p-0 m-0">
                        <img src="https://r2media.horizondm.com/Backend-developer/Appliances/Sandwitch-Maker-AR.jpg"
                            class="card-img p-0 m-0" alt="product image" style="border-start-start-radius: 20px;">
                    </a>
                </div>
                <div class="col-5 m-2 mt-0 p-0">
                    <a href="#" target="_blank" class="p-0 m-0">
                        <img src="https://r2media.horizondm.com/Backend-developer/Appliances/Microwave-R.jpg"
                            class="card-img p-0 m-0" alt="product image" style="border-start-end-radius: 20px;">
                    </a>
                </div>
            </div>
        </div>
        <!-- END third section -->
        <!-- Fourth section -->
        <div class="col-3 p-0 m-0 item">
            <div class="p-3 pb-0 text-end p-0 m-0">
                <p style="color:#df0000;font-size: 18px;"><strong>حياتك أسهل</strong></p>
            </div>
            <div class="d-flex justify-content-center align-items-center m-0 p-0">
                <div class=" col-5 m-2 mt-0 p-0">
                    <a href="#" target="_blank" class="p-0 m-0">
                        <img src="https://r2media.horizondm.com/Backend-developer/Appliances/Vacuum-AR.jpg"
                            class="card-img p-0 m-0" alt="product image" style="border-start-start-radius: 20px;">
                    </a>
                </div>
                <div class="col-5 m-2 mt-0 p-0">
                    <a href="#" target="_blank" class="p-0 m-0">
                        <img src="https://r2media.horizondm.com/Backend-developer/Appliances/TV-AR.jpg"
                            class="card-img p-0 m-0" alt="product image" style="border-start-end-radius: 20px;">
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center m-0 p-0">
                <div class=" col-5 m-2 mt-0 p-0">
                    <a href="#" target="_blank" class="p-0 m-0">
                        <img src="https://r2media.horizondm.com/Backend-developer/Appliances/FAN-AR.jpg"
                            class="card-img p-0 m-0" alt="product image" style="border-start-start-radius: 20px;">
                    </a>
                </div>
                <div class="col-5 m-2 mt-0 p-0">
                    <a href="#" target="_blank" class="p-0 m-0">
                        <img src="https://r2media.horizondm.com/Backend-developer/Appliances/AIR-CO.jpg"
                            class="card-img p-0 m-0" alt="product image" style="border-start-end-radius: 20px;">
                    </a>
                </div>
            </div>
        </div>
        <!-- END Fourth section -->
    </div>
</div>