<div class="container-fluid mt-2 mb-2">
    <div class="row">

        <div class="col-3 m-0 p-0 align-self-center">
            <a href="#" class="m-0 p-0">
                <img src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/1149x680_mobile.jpg" alt=""
                    class="img-fluid">
            </a>
        </div>

        <div class="col-9 m-0 p-3 ps-0">

            <div class="row m-0 p-0">
                <a href="#" class="col m-0 p-0 mx-1">
                    <img src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/680x256-smart-watch.jpg" alt=""
                        class="img-fluid">
                </a>

                <a href="#" class="col m-0 p-0 mx-1">
                    <img src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/680x256-airpods.jpg" alt=""
                        class="img-fluid">
                </a>
            </div>

            <div class="row m-2 p-0 ms-1 me-1">
                <a href="#" class="m-0 p-0">
                    <img src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/1243x235-english.jpg" alt=""
                        class="img-fluid">
                </a>
            </div>

            <div class="row m-0 p-0 mb-1">

                <a href="#" class="col m-0 p-0 mx-1">
                    <img src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/680x256-speaker-en.jpg" alt=""
                        class="img-fluid">
                </a>

                <a href="#" class="col m-0 p-0 mx-1">
                    <img src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/680x256_powerbank.jpg" alt=""
                        class="img-fluid">
                </a>

            </div>
        </div>

    </div>
</div>