@model EcommerceWebSite.Dashboard.ViewModel.LoginViewModel;
@{
    ViewData["Title"] = "Register Page";
    Layout = null;
}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="~/css/register.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="containerr">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Login</h4>
            <p class="divider-text">
            </p>
            <form asp-action="Login" method="post">
                <!-- WAEL FIX -->
                <div asp-validation-summary="All" class="error" style="color:red"></div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input asp-for="UserEmail" class="form-control" placeholder="Email address" type="email">
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input asp-for="Password" class="form-control" placeholder="Enter password" type="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Login </button>
                </div>
                <p class="text-center">Don't 'Have an account? <a asp-controller="Account" asp-action="Register">Register</a> </p>
            </form>
        </article>
    </div> <!-- card.// -->

</div>
<!--container end.//-->