<!-- <div class="container mb-6">
    <app-toolbar></app-toolbar>
    <div class="container-fluid row">
        <div class="row">
            <div class="col-2">
                <app-filtration></app-filtration>
            </div>
            <div class="col-10">
                <div class="mt-2">
                    <div class="row">
                        @for(product of products; track product.id){
                        <div class="col-lg-4 col-sm-4 mb-4">
                            <figure class="snip1268  mb-4">
                                <div class="image">
                                    <img src="../../../assets/CategoryAndProductImg/{{product.imgURL}}" alt="sq-sample4" />
                                    <a href="#" class="add-to-cart rounded">Add to Cart</a>
                                </div>
                                <figcaption>
                                    <h2>{{product.enName}}</h2>
                                    <p>{{product.description}}</p>
                                    <div class="price">Price {{product.price}}</div>
                                </figcaption>
                            </figure>
                        </div>
                        }
                    </div>
                </div>
            </div>   
        
    </div>
</div>
 -->


<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-filtration [categoryId]="selectedCategoryId"></app-filtration>
        </div>  -->
<!-- <div class="col-10"> -->
<!-- <div> -->
    <div class="col-10 p-0">
        <mat-paginator class="paginator col-10" (page)="onPageChange($event)"
        [length]="200"  [pageSize]="10" [pageSizeOptions]="[10,20,30,40]" showFirstLastButtons aria-label="Select page" ></mat-paginator>
    </div>
<!-- <mat-paginator [length]="20"  [pageSize]="5" [pageSizeOptions]="[2, 5]" showFirstLastButtons (page)="onPageChange($event)" aria-label="Select page"></mat-paginator> -->
<!-- <mat-paginator [length]="products?.length"   [pageSize]="1" [pageSizeOptions]="[3, 10, 25, 100]" (page)="onPageChange($event)" aria-label="Select page"></mat-paginator> -->
<div class="products wrapper grid columns4 products-grid mb-4 ">
    <ol class="filterproducts products list items product-items">
        @for(product of products; track product.Id){
        <li  class="item product product-item">
            <div class="product-item-info type1">
                <div class="product photo product-item-photo">
                    <a>
                        <img (click)="Addtofavourite(product)" class="product-image-photo default_image rounded porto-lazyload porto-lazyload-loaded"
                            width="300" height="300" alt=""
                            src="../../../assets/CategoryAndProductImg/{{product.imgURL}}" style="display: block;">
                    </a>
                    <div class="product-labels">
                        <div class="product-label sale-label">-13%</div>
                    </div>
                </div>
                <div class="product details product-item-details">
                    <strong class="product name product-item-name">
                        <a class="product-item-link" href="#">
                            {{product.enDescription}} </a>
                    </strong>

                    <div class="price-box price-final_price" data-product-id="11884">
                        <span class="old-price">
                            <span class="price-container price-final_price tax weee">
                                <span class="price-label">was</span>
                                <span id="old-price-11884" data-price-amount="27900" data-price-type="oldPrice"
                                    class="price-wrapper "><span class="price">{{product.price + 200}} &nbsp;EGP</span></span>
                            </span>
                        </span>
                        <span class="special-price">
                            <span class="price-container price-final_price tax weee">
                                <span class="price-label">Special Price</span>
                                <span id="product-price-11884" data-price-amount="24400" data-price-type="finalPrice"
                                    class="price-wrapper "><span class="price">{{product.price}} &nbsp;EGP</span></span>
                            </span>
                        </span>

                    </div>
                    <div class="product-item-inner">
                        <div class="product actions product-item-actions">
                            <a href="#" class="action towishlist actions-secondary" title="Add to Wish List"
                                aria-label="Add to Wish List" data-action="add-to-wishlist" role="button">
                                <span>Add to Wish List</span>
                            </a>
                            <div class="actions-primary"><button type="button"
                                        title="Add to Cart" class="action tocart primary" (click)="addToCart(product)">
                                        <span>Add to Cart</span>
                                    </button>
                                
                            </div>
                            <a href="#" class="action tocompare actions-secondary" title="Add to Compare"
                                aria-label="Add to Compare" role="button">
                                <span>Add to Compare</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        }
    </ol>
</div>
<div class="col-10 p-0">
    <mat-paginator class="paginator col-10" (page)="onPageChange($event)"
    [length]="200"  [pageSize]="10" [pageSizeOptions]="[10,20,30,40]" showFirstLastButtons aria-label="Select page" ></mat-paginator>
</div>
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<router-outlet></router-outlet>