  <!-- <div class="widget block block-static-block" style="background-color:darkgrey; height: 40px;">
     <button class="btn btn-primary" (click)="toggleAdd()">
      {{ShowAdd ? 'Hide ': 'Show '}}Add
    </button>
    <button class="btn btn-primary" (click)="toggleCategory()">
      {{ShowCategory ? 'Hide ': 'Show '}}Category
    </button>
    @if(ShowAdd)
    {
    <ul class="items">
      <li class="item home">
        <a href="#" title="Go to Home Page"><i class="fa fa-home" style="color: black;"></i></a>
      </li>
      <li>
        > Category
      </li>
      <li>
        > Subcategory
      </li>
      <li>
        > Product 
      </li>
    </ul>} 
  </div> -->




  @if(ShowCategory)
  {
  
  <div class="ShowCategory">
  <img class="Categoryimg" src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/backend-developer/Gaming-Laptop_1.jpg" alt="">
  <img class="Categoryimg" src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/backend-developer/Business-Laptop.jpg" alt="">
  <img class="Categoryimg"  src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/backend-developer/360-Laptop_1.jpg" alt="" >
  <img class="Categoryimg"  src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/backend-developer/Budget-Laptop_1.jpg" alt="" >
  </div>
  
  }
  
  