<!-- <div class="container mt-2">
    <div class="row">
        @for(product of Subproducts; track product.id){
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <figure class="snip1268  mb-4">
                <div class="image">
                    <img src="../../../assets/{{product.imgURL}}" alt="sq-sample4" />
                    <a class="add-to-cart rounded" (click)="addToCart(product)" >Add to Cart</a>
                </div>
                <figcaption>
                    <h2>{{product.enName}}</h2>
                    <p>{{product.description}}</p>
                    <div class="price">Price {{product.price}}</div>
                </figcaption>
            </figure>
        </div>
        }
    </div>    
</div> -->
<!-- ///////////////////// -->
<div class="col-10 p-0">
    <mat-paginator class="paginator col-10" (page)="onPageChange($event)"
    [length]="200"  [pageSize]="10" [pageSizeOptions]="[10,20,30,40]" showFirstLastButtons aria-label="Select page" ></mat-paginator>
</div>
<div class="products wrapper grid columns4 products-grid mb-4  ">
    <ol class="filterproducts products list items product-items">
        @for(product of Subproducts; track product.Id){
        <li class="item product product-item">
            <a routerLinkActive="router-link-active">
            <div class="product-item-info type1">
                <div class="product photo product-item-photo">
                    <a>
                        <img (click)="Addtofavourite(product)"  class="product-image-photo default_image rounded porto-lazyload porto-lazyload-loaded"
                            width="300" height="300" alt="" src="../../../assets/CategoryAndProductImg/{{product.imgURL}}" style="display: block;">
                    </a>
                    <div class="product-labels">
                        <div class="product-label sale-label">-13%</div>
                    </div>
                </div>
                <div class="product details product-item-details">
                    <strong class="product name product-item-name">
                        <a class="product-item-link" >
                            {{product.enDescription}} </a>
                    </strong>
                    <div class="price-box price-final_price" data-product-id="11884">
                        <span class="old-price">
                            <span class="price-container price-final_price tax weee">
                                <span class="price-label">was</span>
                                <span id="old-price-11884" data-price-amount="27900" data-price-type="oldPrice"
                                    class="price-wrapper "><span class="price">{{product.price + 200}} &nbsp;EGP</span></span>
                            </span>
                        </span>
                        <span class="special-price">
                            <span class="price-container price-final_price tax weee">
                                <span class="price-label">Special Price</span>
                                <span id="product-price-11884" data-price-amount="24400" data-price-type="finalPrice"
                                    class="price-wrapper "><span class="price">{{product.price}} &nbsp;EGP</span></span>
                            </span>
                        </span>
                    </div>
                    <div class="product-item-inner">
                        <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                     <button type="button" title="Add to Cart" class="action tocart primary"(click)="addToCart(product)">
                                        <span>Add to Cart</span>
                                    </button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
         </a>
        </li>
        }
    </ol>
</div>
<div class="col-10 p-0">
    <mat-paginator class="paginator col-10" (page)="onPageChange($event)"
    [length]="200"  [pageSize]="10" [pageSizeOptions]="[10,20,30,40]" showFirstLastButtons aria-label="Select page" ></mat-paginator>
</div>