<div class="container-fluid">
        <div class="row">
                <div creator="wael" class="mt-3 mb-4"></div>

                <div class="col-2 text-center">
                        <a href="#">
                                <img src="https://r2media.horizondm.com/wysiwyg/web-test/50_off.gif" class="img-fluid">
                        </a>
                        <div class="text-center fw-bold fs-6">
                                منتجات بخصم يصل الى
                                50%
                        </div>
                        <div>خصم بكمية محدودة</div>
                </div>

                <div class="col-2 text-center">
                        <a href="#">
                                <img src="https://r2media.horizondm.com/wysiwyg/web-test/Comp.gif" class="img-fluid">
                        </a>
                        <div class="text-center fw-bold fs-6">
                                حلول الشركات
                        </div>
                        <div>كل ما تحتاجة لادارة أعمالك بسهولة</div>
                </div>

                <div class="col-2 text-center">
                        <a href="#">
                                <img src="https://r2media.horizondm.com/wysiwyg/web-test/Recovery.gif"
                                        class="img-fluid">
                        </a>

                        <div class="text-center fw-bold fs-6">
                                استرجاع مجانى
                        </div>
                        <div>استرجع جميع المنتجات بدون مصاريف</div>
                </div>

                <div class="col-2 text-center">
                        <a href="#">
                                <img src="https://r2media.horizondm.com/wysiwyg/web-test/Free_Shipping.gif"
                                        class="img-fluid">
                        </a>
                        <div class="text-center fw-bold fs-6">
                                شحن مجاني
                        </div>
                        <div>لجميع المحافظات</div>
                </div>

                <div class="col-2 text-center">
                        <a href="#">
                                <img src="https://r2media.horizondm.com/wysiwyg/web-test/Cash_on_Delivery.gif"
                                        class="img-fluid">
                        </a>
                        <div class="text-center fw-bold fs-6">
                                دفع عند الاستلام
                        </div>
                        <div>شحن سريع لجميع أنحاء الجمهورية</div>
                </div>

                <div class="col-2 text-center">
                        <a href="#">
                                <img src="https://r2media.horizondm.com/wysiwyg/web-test/Installment.gif"
                                        class="img-fluid">
                        </a>
                        <div class="text-center fw-bold fs-6">
                                اشترى دلوقتى و ادفع بعدين
                        </div>
                        <div>قسط حتى 36 شهر</div>
                </div>

        </div>
</div>