

<footer class="page-footer"><div class="footer">
    <div class="footer-top">
        <div>
            <div class="row">
                <div class="col-lg-12">
                <div class="custom-blocks"><div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><div class="newsletter-section" style="background-color: #464646;padding: 10px 0;">
  <div>
    <div class="row align-items-center">
      <div class="col-auto d-flex align-items-center" style="padding-left: 8%;">
        <i class="fa fa-envelope-o" style="color:#fff;font-size:45px;display:inline-block;"></i>
        <div>
          <h2 style="font-weight:600;font-size:18px;line-height:18px;color:#fff;margin:0;margin-bottom: 3px;">Get Special Offers and Savings</h2>
          <p style="font-weight:400;font-size:13px;line-height:15px;margin:0;color:rgba(255,255,255,0.7);">Get all the latest information on Events, Sales and Offers.</p>
        </div>
      </div>
      
      <div class="" style="width: 650px; flex: 0 0 auto; margin: 10px;">
          <form action="" autocomplete="off">
                <input type="email" name="name" value="" class="email" placeholder="E-mail us">
                <input type="submit" name="name" value="Subscribe" class="submit-btn">
          </form>
      </div>
<div class="text-lg-right" style="flex: 1; min-width: 152px;">
<div class="social-icons d-inline-block" style="margin: 10px 0;margin-left: -30px;">
          <a href="https://www.facebook.com/dream2000store/" title="Facebook" target="_blank"><img src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/fb-icon.png" alt="facebook"></a>
          <a href="https://www.instagram.com/dream2000stores/?hl=en" title="Instagram" target="_blank"><img src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/insta-icon.png" alt="instagram"></a>
          <a href="https://www.youtube.com/channel/UC8pO5FPrAl7AqKfpS1QNGaw" title="Youtube" target="_blank"><img src="https://r2media.horizondm.com/wysiwyg/Youtube_png.png" alt="Youtube"></a>
        </div>
    </div>
  </div>
</div>

<style>
button#placeOrder {
    display: none !important;
}
button.action.primary.checkout {
    display: block !important;
}
</style>
</div></div>                </div>
            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="container">
                    <div class="row">
            <div class="col-lg-3"><div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><br>
<div class="footer-logo">
<img style="width: 68%; margin-bottom: 23px;margin-top: -25px;margin-left: 82px;" src="https://r2media.horizondm.com/wysiwyg/dream2000-logo.jpg" alt="dream2000 logo">
</div>

<div class="col-md-12" style="text-align:center;">
		<img src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Main_Pages/New16942.png" alt="Dream2000 Call Center" style="margin-top: -2px; width: 32%;margin-bottom: 3px;">
</div>

<div class="col-md-12" style="text-align:center;">
   <a href="https://www.facebook.com/dream2000store/" title="Facebook" target="_blank"><img style="width: 32px;" src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Main_Pages/Facebook.png" alt="facebook"></a>
   <a href="https://www.instagram.com/dream2000stores/" title="Instagram" target="_blank"><img style="width: 32px;" src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Main_Pages/Instgraam.png" alt="instagram"></a>
   <a href="https://www.tiktok.com/@dream2000stores?lang=ar" title="Tiktok" target="_blank"><img style="width: 32px;" src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Main_Pages/TikTok.png" alt="Tiktok"></a>
   <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fdream2000store" title="Twitter" target="_blank"><img style="width: 32px;" src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Main_Pages/Twitter.png" alt="Twitter"></a>
   <a href="https://www.youtube.com/channel/UC8pO5FPrAl7AqKfpS1QNGaw" title="Youtube" target="_blank"><img style="width: 32px;" src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Main_Pages/Youtube.png" alt="Youtube"></a>
</div></div></div><div class="col-lg-3"><div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><div class="block">
  <div class="block-title"><strong><span style="margin-left: -13px; padding-bottom: 8px;">Most Category</span></strong></div>
<img src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Main_Pages/Frame.png" alt="" style="width: 120px;margin-left: -4px;padding-bottom: 2px;">

  <div class="block-content">
    <div class="row">
      <div class="col-md-6">
        <ul class="links">
			<li><a href="https://dream2000.com/en/mobiles.html/" title="Mobile">Mobile</a></li>
                        <li><a href="https://dream2000.com/en/accessories/audio/airpods.html/" title="AirPods">AirPods</a></li>
                        <li><a href="https://dream2000.com/en/accessories/wearables.html/" title="Smart Watch">Smart Watch</a></li>
                       <li><a href="https://dream2000.com/en/accessories/mobile-accessories/power-bank.html/" title="‏Power Bank">‏Power Bank</a></li>
			<li><a href="https://dream2000.com/en/accessories/mobile-accessories/chargers.html/" title="Chargers">Chargers</a></li>
			<li><a href="https://dream2000.com/en/accessories/audio/speakers.html/" title="Speakers">Speakers</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="links">
			<li><a href="https://dream2000.com/en/gaming/playstation.html/" title="Play Station">Play Station</a></li>
                        <li><a href="https://dream2000.com/en/laptop-notebook/laptop.html/" title="Laptop">Laptop</a></li>
			<li><a href="https://dream2000.com/en/laptop-notebook/monitors.html/" title="Monitors">Monitors</a></li>
			<li><a href="https://dream2000.com/en/laptop-notebook/printer.html/" title="Printer">Printer</a></li>
			<li><a href="https://dream2000.com/en/corporate/network.html/" title="Network">Network</a></li>
			<li><a href="https://dream2000.com/en/corporate.html/" title="Electronics">Electronics</a></li>
        </ul>
      </div>
    </div>
  </div> 
</div>
</div></div><div class="col-lg-3"><div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><div class="block">
  <div class="block-title"><strong><span style="margin-left: -13px; padding-bottom: 8px;">Information</span></strong></div>
<img src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Main_Pages/Frame.png" alt="" style="width: 120px;margin-left: -4px;padding-bottom: 2px;">

  <div class="block-content">
    <div class="row">
      <div class="col-sm-6">
        <ul class="links">
 <li><a href="https://dream2000.com/en/about-dream2000/" title="Payment Methods">About Us</a></li>
          <li><a href="https://dream2000.com/en/corporate-solutions/" title="Track Your Order">Corporate Solutions</a></li>
          <li><a href="https://dream2000.com/en/privacy-policy/" title="Privacy Policy">Privacy Policy</a></li>
          <li><a href="https://dream2000.com/en/delivery-shipment-policy/" title="Shipping Guide">Shipping Policy</a></li>
          <li><a href="https://dream2000.com/en/refund-cancellation-policy/" title="Return Policy">Return Policy</a></li>
 </ul>
      </div>
      <div class="col-sm-6">
        <ul class="links">
<li><a href="https://dream2000.com/en/installment-dream2000/" title="installment dream2000">installment</a></li>
<li><a href="https://dream2000.com/en/blog/" title="Store Locator">Blog</a></li>
<li><a href="https://dream2000.com/en/contactus/" title="Store Locator">Branches</a></li>
<li><a href="https://dream2000.com/en/customer/account/" title="My Account">My Account</a></li>
          <li><a href="https://dream2000.com/en/sales/guest/form/" title="Track Orders">Track Orders</a></li>
        </ul>
      </div>
    </div>
  </div> 
</div></div></div><div class="col-lg-3"><div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><p style="text-align:center;padding-top: 10px;margin-bottom: -11px;"><span style="color:#ffffff"><span style="font-size:18px"><strong>Download Application </strong></span></span><span style="color:#3498db"><span style="font-size:18px"><strong>Now</strong></span></span></p>

<br>
<div class="block">
  <div class="block-content">
    <div class="row">
     <div class="col-md-4" style="text-align:center;">
		<a href="https://play.google.com/store/apps/details?id=com.xapps.dream2000" target="_blank"><img src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Main_Pages/Google_Play_Png.png" alt="Dream2000 Android App" style="width: 120px;"></a>
    </div>
    <div class="col-md-4" style="text-align:center;">
		<a href="https://apps.apple.com/us/app/dream2000/id961387077" target="_blank"><img src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Main_Pages/APP_Store.png" alt="Dream2000 IOS App" style="width: 120px;"></a>
    </div>
    <div class="col-md-4" style="text-align:center;">
		<a href="https://appgallery.huawei.com/#/app/C104336669" target="_blank"><img src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Main_Pages/App_Gallery.png" alt="appgallery" style="width: 120px;"></a>
    </div>

<div class="col-md-12" style="text-align:center;">
		<img src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Main_Pages/New_installments.png" alt="Dream2000 Online payment" style="margin-top: 48px; width: 42%;margin-bottom: -12px;">
</div>

<div class="col-md-12" style="text-align:center;">
		<img src="https://r2media.horizondm.com/wysiwyg/smartwave/homepage/PRODUCTS/Main_Pages/Payimag.png" alt="Dream2000 Online payment" style="margin-top: 10px; width: 80%;">
</div>

    </div>
  </div> 
</div></div></div>            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <hr>
                                    <address>© Dream Telecom For Electronics 2020. All Rights Reserved</address>
                    </div>
    </div>
</div>
<a href="javascript:void(0)" id="totop" style="display: inline;"><em class="porto-icon-up-open"></em></a></div></footer>