<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcommerceWebSite.Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-vnsyXWExzah3RzjTovjDoDGTwjaTBKbMz4flcGA5dphq2Yj58wf/MXu0yTzGtdrr+OQX3bjBOyir7k0uJd5kHw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
        <!-- Vertical Navbar -->
        <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-0 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
            <div class="container-fluid">
                <!-- Toggler -->
                <button class="navbar ms-n2" type="button">
                    @* <span class="navbar-toggler-icon"></span> *@
                    <!-- Brand -->
                    <div class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0">
                        <img src="https://preview.webpixels.io/web/img/logos/clever-primary.svg" alt="...">
                    </div>
                </button>
                <!-- User menu (mobile) -->
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidebarCollapse">
                    <!-- Navigation -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="index" asp-controller="home">
                                <i class="bi bi-house"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="addRole" asp-controller="Role">
                                <i class="bi bi-bar-chart"></i> AddRole
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="getcategory" asp-controller="Category">
                                <i class="bi bi-bookmarks"></i> Category
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="getSubCategory" asp-controller="SubCategory">
                                <i class="bi bi-subtract"></i> SubCategory
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="addAdmin" asp-controller="Account">
                                <i class="bi bi-people"></i> addAdmin
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="getProducts" asp-controller="Product">
                                <i class="bi bi-bag"></i> Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="getOrders" asp-controller="Order">
                                <i class="bi bi-cart-dash"></i> Orders
                            </a>
                        </li>
                        @*<li class="nav-item">
                        <a class="nav-link" href="#">
                        <i class="bi bi-chat"></i> Messages
                        <span class="badge bg-soft-primary text-primary rounded-pill d-inline-flex align-items-center ms-auto">6</span>
                        </a>
                        </li>*@


                    </ul>
                    <!-- Divider -->
                    <hr class="navbar-divider my-5 opacity-20">
                    <!-- Push content down -->
                    <div class="mt-auto"></div>
                    <!-- User (md) -->
                    <ul class="navbar-nav">
                        @*                         <li class="nav-item">
                        <a class="nav-link" href="#">
                        <i class="bi bi-person-square"></i> Account
                        </a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="account" asp-action="logout">
                                <i class="bi bi-box-arrow-left"></i> Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Main content -->
        <div class="h-screen flex-grow-1 overflow-y-lg-auto">
            <!-- Header -->
            <header class="bg-surface-primary border-bottom pt-5 pb-5">
                <div class="container-fluid">
                    <div class="mb-npx">
                        <div class="row align-items-center">
                            <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                                <!-- Title -->
                                @{
                                    @using Microsoft.AspNetCore.Http;
                                    var loggedinEmail = ViewContext.HttpContext.Session.GetString("email") ?? string.Empty;
                                }

                                @if (!string.IsNullOrEmpty(loggedinEmail))
                                {
                                    <h1 class="h2 mb-0 ls-tight">Welcome, @loggedinEmail!</h1>
                                }
                                else
                                {
                                    <h1 class="h2 mb-0 ls-tight">Application</h1>
                                }
                            </div>
                            <!-- Actions -->
                            <div class="col-sm-6 col-12 text-sm-end">
                                <div class="mx-n1">
                                    @*<a href="#" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                    <i class="bi bi-pencil"></i>
                                    </span>
                                    <span>Edit</span>
                                    </a>*@
                                    @*<a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1">
                                    <span class=" pe-2">
                                    <i class="bi bi-person"></i>
                                    </span>
                                    <span>Login</span>
                                    </a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main -->
            <main class="py-6 bg-surface-secondary">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    @*<div class="container">
    <main role="main" class="pb-3">
    @RenderBody()
    </main>
    </div>*@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
